body{
  .up{
    .arm{
      transform: rotate(180deg);
    }
  }
  .up.right{
    .arm{
      transform: rotate(-135deg);
    }
  }
  .right{
    .arm{
      transform: rotate(-90deg);
    }
  }
  .down.right{
    .arm{
      transform: rotate(-45deg);
    }
  }
  .down{
    .arm{
      transform: rotate(0deg);
    }
  }
  .down.left{
    .arm{
      transform: rotate(45deg);
    }
  }
  .left{
    .arm{
      transform: rotate(90deg);
    }
  }
  .up.left{
    .arm{
      transform: rotate(135deg);
    }
  }
}


.arm,
.leg{
  transition: 0.0s;
  transition-timing-function: cubic-bezier(0,1,.5,1);
}